body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    
}

.board{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    justify-content: center;
}



.tile {
    height: 50px;
    width: 50px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;

    
}

.line{
    display: flex;
    gap: 5px;
}


.correct{ 
    background-color: green;
}

.misplaced {
    background-color: yellow;
}
 

.wrong {
    background-color: lightgray;
}


img {
    position: absolute;
    height: fit-content;
    width: fit-content;
    top: 0;
    left: 0;
    z-index: -1;
}